body {
  width: 1440px;
  font-family: barlow;
  font-size: 18px;
}
#main_img {
  position: absolute;
  width: 1440px;
  height: 800px;
  z-index: -1;
}

h2,
h3 {
  font-family: fraunces;
}
p,
h5 {
  color: hsl(232, 10%, 55%);
}

.header {
  height: 800px;
  width: 1440px;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.btn {
  width: 500px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
}
button {
  height: 40px;
  width: 100px;
  border-radius: 20px;
  border: none;
}
h1 {
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin-top: 100px;
  font-weight: bolder;
}
.arrow {
  margin-left: 700px;
}
.container1 {
  display: flex;
  background-color: hsl(0, 0%, 100%);
}
.container1box {
  width: 520px;
  height: 300px;
  padding: 100px;
}
.a1 {
  color: hsl(212, 27%, 19%);
  font-weight: bold;
  text-decoration: none;
  border-bottom: 6px solid hsl(51, 100%, 49%);
}
.container2 {
  display: flex;
  background-color: hsl(0, 0%, 100%);
}
.container2box {
  width: 520px;
  height: 300px;
  padding: 100px;
}
.a2 {
  color: hsl(212, 27%, 19%);
  font-weight: bold;
  text-decoration: none;
  border-bottom: 6px solid hsl(7, 99%, 70%);
}
.container3 {
  display: flex;
}
.container3box1 {
  background-image: url("images/desktop/image-graphic-design.jpg");
  background-size: 100%;
  height: 550px;
  width: 720px;
  text-align: center;
  color: hsl(167, 40%, 24%);
}
.container3box2 {
  background-image: url("images/desktop/image-photography.jpg");
  background-size: 100%;
  height: 550px;
  width: 720px;
  text-align: center;
  color: hsl(198, 62%, 26%);
}

.para {
  width: 400px;
  color: hsl(167, 40%, 24%);
}
.para1 {
  width: 400px;
  color: hsl(198, 62%, 26%);
}
.photo {
  padding-left: 160px;
  padding-top: 340px;
}
.section3 {
  display: flex;
  width: 1440px;
  height: 400px;
  text-align: center;
  justify-content: space-evenly;
}
.client-container {
  width: 350px;
}
.client-testimonials {
  text-align: center;
  color: hsl(232, 10%, 55%);
  margin-top: 180px;
  margin-bottom: 80px;
}

.img {
  width: 360px;
  height: 400px;
}
.allimg {
  display: flex;
}
.footer {
  background-color: hsl(168, 34%, 57%);
  padding: 150px;
  padding-left: 650px;
}
.contact {
  display: flex;
  width: 330px;
  margin-left: -100px;
  justify-content: space-between;
  margin-bottom: 30px;
}
.icon {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-left: -40px;
}
